dagster/generate_es_reports/schemas/ssf_ctri_referencia_unidad.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- NOTE: This is NOT an official SSF validator schema. It was derived from
     the NRP-41 CTRI schemas and adapted for NRP-92 fields. Replace with
     the official SSF NRP-92 XSD once published. -->
<xs:schema 
   elementFormDefault="qualified"
   targetNamespace="http://validador.ssf.gob.sv/ctri/referencia_unidad"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://validador.ssf.gob.sv/ctri/referencia_unidad">
   <xs:element name="ctri">
      <xs:complexType>
         <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="referencia_unidad">
               <xs:complexType>
                  <xs:all maxOccurs="1" minOccurs="1">
                     <xs:element name="cod_cartera">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Cartera
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_activo">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Activo
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="num_referencia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Referencia
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="codigo_unidad">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Unidad
]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cantidad_unidad">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Cantidad de la Unidad]]>
</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="10"/>
                             <xs:fractionDigits value="2"/>
                             <xs:maxInclusive value="99999999.99"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
