dagster/generate_es_reports/schemas/ssf_ctri_garantia_criptomonedas.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- NOTE: This is NOT an official SSF validator schema. It was derived from
     the NRP-41 CTRI schemas and adapted for NRP-92 fields. Replace with
     the official SSF NRP-92 XSD once published. -->
<xs:schema
   elementFormDefault="qualified"
   targetNamespace="http://validador.ssf.gob.sv/ctri/garantia_criptomonedas"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://validador.ssf.gob.sv/ctri/garantia_criptomonedas">
   <xs:element name="ctri">
      <xs:complexType>
         <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="garantia_criptomonedas">
               <xs:complexType>
                  <xs:all maxOccurs="1" minOccurs="1">
                     <xs:element name="num_referencia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Referencia
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_cartera">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Cartera
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="cod_activo">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Código Activo
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:length value="2"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="identificacion_garantia">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Identificación de la Garantía
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="20"/>
                             <xs:minLength value="1"/>
                             <xs:whiteSpace value="collapse"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="num_criptomonedas">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Número de Criptomonedas
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="18"/>
                             <xs:fractionDigits value="8"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="valor_contractual">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Valor Contractual
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="valor_mercado">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Valor de Mercado
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_valuacion_mercado" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha de Valuación de Mercado
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:date">
                             <xs:minInclusive value="1800-01-01"/>
                             <xs:maxInclusive value="9999-12-31"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="hora_valuacion_mercado" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Hora de Valuación de Mercado
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                             <xs:maxLength value="8"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="tasas_conversion">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Tasa de Conversión
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="monto_garantizado">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Monto Garantizado
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                             <xs:totalDigits value="12"/>
                             <xs:fractionDigits value="2"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                     <xs:element name="fecha_otorgamiento" nillable="true">
                        <xs:annotation>
                           <xs:documentation><![CDATA[
Fecha de Otorgamiento
]]></xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:date">
                             <xs:minInclusive value="1800-01-01"/>
                             <xs:maxInclusive value="9999-12-31"/>
                          </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:all>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
